html {
    background: rgb(230, 230, 230);
    color: black; /* Changed text color to black for better contrast */
    font-size: 25px;
}

button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto; /* redundant */
    padding: 20px;
    width: 300px;
    background-color: royalblue; /* Changed button color to royalblue */
    border: 2px solid white;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 35px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Adjusted box shadow */
    transition: background-color 0.3s ease; /* Added transition for smoother hover effect */
}

button:hover {
    background-color: dodgerblue; /* Changed hover color to dodgerblue */
}
